#up {
    background: #00cccc;
	color: #FFF;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
#resultShower
{
	background:#9FF;
	color:#090;
	font-style:oblique;
	font-size:large;
	
}